.imageofman {
    object-fit: cover;
    width:100px;
    height: 100px;
    border-style: solid;
    border-radius:100px;
    border-color: white;
    transition-duration: 0.5s;

}
.imageofman:hover {
    object-fit: cover;
    width:200px;
    height: 200px;
    border-style: solid;
    border-radius:100px;
    border-color: blueviolet;
    transition-duration: 0.5s;



}

.follow{
    background-color: red;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;;
    transition-duration: 0.4s;
    cursor: pointer;
    outline:none;

}
.unfollow {
    border: solid;
    background-color: white;
    color: gray;
    border-width: 2px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;;
    transition-duration: 0.4s;
    cursor: pointer;
    outline:none;

}
.unfollow:hover{
    background-color: white;
    color: gray;
    outline:none;
    border-width: 2px;
}
.follow:hover{
    background-color: white;
    color: gray;
    outline:none;
    border-width: 2px;
}

.obshi {
    padding: 10px;
}